/*
  Naming Grid Areas
  Basit layout lar icin bu sistemi kullan
*/

.container {
  width: 1000px;
  margin: 30px auto;

  display: grid;
  grid-gap: 1rem;

  /* grid-template-area da nokta konulan yerler bos birakilir */
  grid-template-areas:
    ". head head ."
    "box-1 box-2 box-3 side"
    "main main main side"
    "foot foot foot foot";
}

.container > * {
  background-color: orangered;
  padding: 20px;
  color: #fff;
  font-size: 30px;
  font-family: sans-serif;
}

/* Kullanimlarida style 'da .container itemlari icinde bu sekilde */
header {
  grid-area: head;
}

.sidebar {
  grid-area: side;
}

.small-box-1 {
  grid-area: box-1;
}

.small-box-2 {
  grid-area: box-2;
}

.small-box-3 {
  grid-area: box-3;
}

.main-content {
  grid-area: main;
}

footer {
  grid-area: foot;
}
