<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--FontAwesome CDN-->
    <script src="https://kit.fontawesome.com/de10586905.js" crossorigin="anonymous"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Staatliches&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="/public/css/mobile.css">
    
    <link rel="shortcut icon" type="image/x-icon" href="/public/icon.ico">
    <title>NewsGrid | About</title>
</head>
<body>

    <nav id="main-nav">
        <div class="container">
            <img src="/public/img/logo.png" alt="NewsGrid" class="logo">
            <div class="social">
                <a href="https://www.facebook.com"  target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://www.twitter.com"  target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="https://www.instagram.com"  target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://www.youtube.com"  target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about" class="current">About</a></li>
            </ul>
        </div>
    </nav>

    <section id="about">
        <div class="container">
            <div class="page-container">
                <article class="card">
                    <h1 class="l-heading">About Our Organization</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, repudiandae numquam accusamus omnis voluptatibus perspiciatis porro repellendus ad, nihil error nobis exercitationem laborum fugiat, sequi dolor? Tenetur, ab porro? Ipsa natus eos hic nihil ullam commodi, placeat aliquid quibusdam cupiditate, vero nam maxime, doloribus inventore officia excepturi. Ratione, enim. Veritatis.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti similique ea necessitatibus distinctio sint, inventore tempore mollitia perspiciatis voluptate quis maxime quisquam in! Voluptatum sit minus reprehenderit provident aliquam, autem in asperiores architecto id rerum eos pariatur optio magni velit. Vitae reiciendis sunt expedita, culpa ullam repellat nesciunt aperiam quasi eveniet deleniti placeat commodi natus porro ex, possimus dolorum! Placeat, temporibus quis minus fugit unde animi obcaecati assumenda sed deleniti amet non aut similique quisquam, adipisci sapiente eius cum nesciunt asperiores ducimus. Itaque, odit. Accusantium voluptatem quaerat dolores fugit, quas ad alias saepe error assumenda, esse consequuntur excepturi explicabo dicta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus inventore repellendus sunt vel ad officiis consequuntur at quaerat nemo assumenda tenetur, iste pariatur quam consequatur nostrum voluptas, explicabo ipsam deserunt aspernatur velit ducimus mollitia. Vero rerum iste dolores minus sit praesentium, aliquam quisquam at odio ratione deleniti cumque, necessitatibus voluptatibus!</p>
                </article>
                <aside class="card bg-primary">
                    <h2>Join Our Club</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, blanditiis.</p>
                    <a href="#" class="btn btn-dark btn-block">Join Now</a>
                </aside>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="main-footer" class="py-2">
        <div class="container footer-container">
            <div>
                <img src="/public/img/logo_light.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quo velit minima optio pariatur autem esse natus deleniti! Veritatis, eligendi.</p>
            </div>
            <div>
                <h3>Email Newsletter</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <form>
                    <input type="email" placeholder="Enter Email">
                    <input type="submit" value="Subscribe" class="btn btn-primary">
                </form>
            </div>
            <div>
                <h3>Site Links</h3>
                <ul class="list">
                    <li><a href="#">Help & Suppport</a></li>
                    <li><a href="#">Privicy Policy</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div>
                <h2>Join Our Club</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, quasi.</p>
                <a href="#" class="btn btn-secondary">Join Now</a>
            </div>
            <div>
                <p>Copyright &copy; 2019, All Rights Reserved</p>
            </div>
        </div>
    </footer>
    
</body>
</html>