<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--FontAwesome CDN-->
    <script src="https://kit.fontawesome.com/de10586905.js" crossorigin="anonymous"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Staatliches&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="/public/css/mobile.css">
    
    <link rel="shortcut icon" type="image/x-icon" href="/public/icon.ico">
    <title>NewsGrid | Latest News</title>
</head>
<body>

    <nav id="main-nav">
        <div class="container">
            <img src="/public/img/logo.png" alt="NewsGrid" class="logo">
            <div class="social">
                <a href="https://www.facebook.com"  target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://www.twitter.com"  target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="https://www.instagram.com"  target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://www.youtube.com"  target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
            </div>
            <ul>
                <li><a href="/" class="current">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </nav>

    <!-- Showcase -->
    <div id="showcase">
        <div class="container">
            <div class="showcase-container">
                <div class="showcase-content">
                    <div class="category category-sports">Sports</div>
                    <h1>Some Sports Article</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sequi, voluptas corrupti eum consectetur quis quo laboriosam molestiae laudantium enim.</p>
                    <a href="/article" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Home Articles -->
    <section id="home-articles" class="py-2">
        <div class="container">
            <h2>Editors Picks</h2>
            <div class="articles-container">
                <article class="card">
                    <img src="/public/img/articles/ent1.jpg" alt="">
                    <div>
                        <div class="category category-ent">Entertaiment</div>
                        <h3>
                            <a href="/article">Lorem ipsum dolor sit amet.</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus beatae quis quam, sunt molestias perferendis id eveniet provident facilis atque.</p>
                    </div>
                </article>
                <article class="card bg-dark">
                    <div class="category category-sports">Sports</div>
                    <h3>
                        <a href="/article">Lorem ipsum dolor sit amet.</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus beatae quis quam, sunt molestias perferendis id eveniet provident facilis atque.</p>                    
                </article>
                <article class="card">
                    <img src="/public/img/articles/tech1.jpg" alt="">
                    <div class="category category-tech">Technology</div>
                    <h3>
                        <a href="/article">Lorem ipsum dolor sit amet.</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus beatae quis quam, sunt molestias perferendis id eveniet provident facilis atque.</p>                    
                </article>
                <article class="card">
                    <div class="category category-sports">Sports</div>
                    <h3>
                        <a href="/article">Lorem ipsum dolor sit amet.</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus beatae quis quam, sunt molestias perferendis id eveniet provident facilis atque.</p>                    
                    <img src="/public/img/articles/sports1.jpg" alt="">
                </article>
                <article class="card">
                    <img src="/public/img/articles/tech2.jpg" alt="">
                    <div class="category category-tech">Technology</div>
                    <h3>
                        <a href="/article">Lorem ipsum dolor sit amet.</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus beatae quis quam, sunt molestias perferendis id eveniet provident facilis atque.</p>                    
                </article>
                <article class="card bg-primary">
                    <div class="category category-sports">Sports</div>
                    <h3>
                        <a href="/article">Lorem ipsum dolor sit amet.</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus beatae quis quam, sunt molestias perferendis id eveniet provident facilis atque.</p>                    
                </article>
                <article class="card">
                    <div>
                        <div class="category category-ent">Entertaiment</div>
                        <h3>
                            <a href="/article">Lorem ipsum dolor sit amet.</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus beatae quis quam, sunt molestias perferendis id eveniet provident facilis atque.</p>
                    </div>
                    <img src="/public/img/articles/ent2.jpg" alt="">
                </article>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="main-footer" class="py-2">
        <div class="container footer-container">
            <div>
                <img src="/public/img/logo_light.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quo velit minima optio pariatur autem esse natus deleniti! Veritatis, eligendi.</p>
            </div>
            <div>
                <h3>Email Newsletter</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <form>
                    <input type="email" placeholder="Enter Email">
                    <input type="submit" value="Subscribe" class="btn btn-primary">
                </form>
            </div>
            <div>
                <h3>Site Links</h3>
                <ul class="list">
                    <li><a href="#">Help & Suppport</a></li>
                    <li><a href="#">Privicy Policy</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div>
                <h2>Join Our Club</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, quasi.</p>
                <a href="#" class="btn btn-secondary">Join Now</a>
            </div>
            <div>
                <p>Copyright &copy; 2019, All Rights Reserved</p>
            </div>
        </div>
    </footer>
    
</body>
</html>