@import '../../../public/static/assets/styles/abstracts/variables';
@import '../../../public/static/assets/styles/abstracts/mixins';

.search {
  width: 443px;
  height: 68px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: $neutral-5;
}
.input {
  height: 50px;
  min-width: calc(100% - 40px);
  border: none;
  outline: none;
  background-color: transparent;
  color: $neutral-1;
  font-size: 18px;

  &::placeholder {
    font-size: 18px;
  }
}
.button {
  background-color: transparent !important;

  & i::before {
    color: $neutral-1 !important;
  }

  &:hover {
    background-color: transparent !important;
    @include transform(scale(1.2));
  }
}
