.content {
  height: 60rem;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 15px 35px rgba(50, 50, 93, 0.1),
    0px 5px 15px rgba(0, 0, 0, 0.07);
  padding: 0 3rem;
  margin: 20rem 0;
  position: relative;
}
