.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todos {
  height: 60rem;
  width: 100%;
  background-color: white;
  overflow-y: scroll;
  border-radius: 5px;

  &::-webkit-scrollbar {
    display: none;
  }
}
