<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/de10586905.js" crossorigin="anonymous"></script>

    <!--GoogleFont: Dosis-->
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/main.css">
    <title>About Me | UI/UX Designer & Photographer</title>
</head>
<body>
    
    <!--Header-->
    <header id="header-inner">
        <div class="container">
            <nav id="main-nav">
                <img src="/public/img/logo.png" alt="My Porfolio" id="logo">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about" class="current">About</a></li>
                    <li><a href="/work">Work</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <!--Section A: Info-->
    <section id="about-a" class="text-center py-3">
        <div class="container">
            <h2 class="section-title">About Me</h2>
            <div class="bottom-line"></div>
            <p class="lead">Let me tell you a little about myself and what I do...</p>
            <div class="about-info">
                <img src="/public/img/about.jpg" alt="" class="bio-image">
                <div class="bio bg-light">
                    <h4>Your Project is In Safa Hands</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora voluptas ab voluptatum nemo ipsam dolorem, et dolores illo fuga? Officiis rem accusantium quos vitae corporis, quaerat quia praesentium asperiores saepe?</p>
                </div>
                <div class="award-1">
                    <i class="fas fa-award fa-3x"></i>
                    <h3>Award One</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, dolores.</p>
                </div>
                <div class="award-2">
                    <i class="fas fa-award fa-3x"></i>
                    <h3>Award Two</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, dolores.</p>
                </div>
                <div class="award-3">
                    <i class="fas fa-award fa-3x"></i>
                    <h3>Award Three</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, dolores.</p>
                </div>
            </div>
        </div>
    </section>

    <!--Section B: Progress Bars-->
    <section id="about-b" class="bg-dark py-3">
        <div class="container">
            <h2 class="section-title">Technical Skills</h2>
            <div class="bottom-line"></div>
            <h4>Photography: </h4>
            <div class="progress">
                <div style="width: 100%;"></div>
            </div>
            <h4>Adobe Photoshop: </h4>
            <div class="progress">
                <div style="width: 80%;"></div>
            </div>
            <h4>Adobe Illustrator: </h4>
            <div class="progress">
                <div style="width: 70%;"></div>
            </div>
            <h4>HTML & CSS: </h4>
            <div class="progress">
                <div style="width: 100%;"></div>
            </div>
            <h4>Wordpress: </h4>
            <div class="progress">
                <div style="width: 80%;"></div>
            </div>
            <h4>Magento: </h4>
            <div class="progress">
                <div style="width: 70%;"></div>
            </div>
        </div>
    </section>

    <!--Section C: Logos-->
    <section id="about-c" class="py-4 bg-light">
        <div class="container">
            <div class="about-logos">
                <img src="/public/img/about-logos/logo-envato.png" alt="">
                <img src="/public/img/about-logos/logo-wordpress.png" alt="">
                <img src="/public/img/about-logos/logo-woocommerce.png" alt="">
                <img src="/public/img/about-logos/logo-magento.png" alt="">
            </div>
        </div>
    </section>

    <!--Section D: Testimonials-->
    <section id="about-d" class="py-4">
        <div class="container">
            <h2 class="section-title">Testimonials</h2>
            <div class="bottom-line"></div>
            <p class="lead text-center">Take a look at what my clients say...</p>
            <div class="testimonials">
                <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic ipsa aut sit corrupti voluptates dolorem, nam, et consequuntur ex molestiae aliquid. Corporis, iusto voluptatum! Eos ratione saepe et delectus quas?</p>
                    <ul>
                        <li><img src="/public/img/testimonials/person1.jpg" alt=""></li>
                        <li>Sam Smith, New York</li>
                    </ul>
                </div>
                <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic ipsa aut sit corrupti voluptates dolorem, nam, et consequuntur ex molestiae aliquid. Corporis, iusto voluptatum! Eos ratione saepe et delectus quas?</p>
                    <ul>
                        <li><img src="/public/img/testimonials/person2.jpg" alt=""></li>
                        <li>Sara Williams, Michigan</li>
                    </ul>
                </div>
                <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic ipsa aut sit corrupti voluptates dolorem, nam, et consequuntur ex molestiae aliquid. Corporis, iusto voluptatum! Eos ratione saepe et delectus quas?</p>
                    <ul>
                        <li><img src="/public/img/testimonials/person3.jpg" alt=""></li>
                        <li>Jill Johnson, London</li>
                    </ul>
                </div>
                <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic ipsa aut sit corrupti voluptates dolorem, nam, et consequuntur ex molestiae aliquid. Corporis, iusto voluptatum! Eos ratione saepe et delectus quas?</p>
                    <ul>
                        <li><img src="/public/img/testimonials/person4.jpg" alt=""></li>
                        <li>Steve Thompson, Boston</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--Footer-->
    <footer id="main-footer">
        <div class="footer-content container">
            <p>Copyright &copy; 2019 All Rights Reserved</p>
            <div class="social">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
            </div>
        </div>
    </footer>

    <script src="/public/js/typewriter.js"></script>
</body>
</html>