.slider {
  margin-top: 10rem;
}

.slider__image {
  background-color: #efefef;
  position: relative;
  width: 100%;
  height: 30rem;
  overflow: hidden;

  img {
    width: 100%;
    object-position: cover;
  }
}

.slider__image--content {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  text-align: center;

  .slider__title {
    font-size: 2.4rem;
    font-weight: 200;

    span {
      font-weight: 400;
    }
  }

  .slider__message {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 10%;
  }

  .slider__form {
    display: flex;
    justify-content: space-between;

    input {
      background-color: #fff;
      padding: 2rem;
      width: 67%;
      font-size: 1.4rem;

      &:focus {
        outline: none;
      }
    }

    button {
      width: 27%;
      padding: 2rem;
      background-color: #000;
      color: #fff;
      border: none;

      i {
        margin-right: 1rem;
      }
    }
  }
}

@media only screen and(max-width: 76.8em) {
  .slider__image--content {
    left: 20%;
    width: 60%;
  }
}

@media only screen and(max-width: 57.6em) {
  .slider__image--content {
    left: 10%;
    width: 80%;
  }
}
