.layout {
  height: 128rem;
  background: linear-gradient(340.03deg, #8ddad5 8.42%, #00cdac 91.45%);
  background-size: 100% 50%;
  background-repeat: no-repeat;
}
.container {
  width: 1400px;
  margin: auto;
}
.mainBody {
  height: 100%;
}
