@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");


html {
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}