*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 2rem;
  background-color: $color-dark;
  color: $color-light;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $color-light;
}
