$color-dark: #202020;
$color-darker: #1a1a1a;
$color-light: #b3b9c5;

$color-primary: #81a5f8;
$color-secondary: #5183f5;
$color-blue-1: #08308b;
$color-blue-2: #111111;

$color-white: #fff;
$color-black: #000;
$color-red: #f96854;

$color-easy-1: #81a5f8;
$color-easy-2: #08308b;
$color-medium-1: #f0ad4e;
$color-medium-2: #ec971f;
$color-hard-1: #d9534f;
$color-hard-2: #c9302c;

$color-light-green-1: #8bc34a;
$color-light-green-2: #577d2a;
$color-dark-green-1: #388e3c;
$color-dark-green-2: #1b451d;
