$color-black-1: #222222;
$color-black-2: rgba(#222222, 0.75);
$color-black-3: rgba(#222222, 0.6);
$color-black-4: rgba(#222222, 0.1);

$color-red-1: #ff2600;
$color-red-2: rgba(#ff2600, 0.75);
$color-red-3: rgba(#ff2600, 0.6);
$color-red-4: rgba(#ff2600, 0.1);

$color-grey-1: #c7c7c7;
$color-grey-2: rgba(#c7c7c7, 0.75);
$color-grey-3: rgba(#c7c7c7, 0.6);
$color-grey-4: rgba(#c7c7c7, 0.1);

$color-light-1: #dbdbdb;
$color-light-2: rgba(#dbdbdb, 0.75);
$color-light-3: rgba(#dbdbdb, 0.6);
$color-light-4: rgba(#dbdbdb, 0.1);

.heading-1 {
  font-size: 2.4rem;
}
.heading-2 {
  font-size: 3rem;
}
.heading-3 {
  font-size: 4rem;
}
.heading-4 {
  font-size: 5rem;
}
