.container {
  width: 100%;
  display: flex;
  flex-direction: row;

  & > div:not(:last-child) {
    margin-right: 1rem;
  }
}

.listsContainer {
  display: flex;
  flex-direction: column;
}
.listContainer {
  min-height: 10rem;
  flex-grow: 1;
}
